extends layout

block content
  a(href='mailto:jonmanock@gmail.com')
    i(class='fa fa-envelope-o')
  h1 Florida Voter Search
  div#searchBar
    input#search(type='text' placeholder='John Doe' autofoucs)
  div#loader
    table
      thead
        tr
          th.name NAME
          th.gender GENDER
          th.age AGE
          th.address ADDRESS
          th.apt APT/UNIT
          th.city CITY
          th.zip ZIP
  div#results
