doctype html
html
  head
    title Voter Search
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='../public/Florida-Flag-icon.png' type='images/x-icon')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.js' integrity='sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=' crossorigin='anonymous')
    script(src='/javascripts/main.js')
  body
    block content
