doctype html
html
  head
    title Voter Search
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='../public/Florida-Flag-icon.png' type='images/x-icon')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    block content
