@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

body{
  font-family:'Encode Sans Expanded';
}

h1{
  text-align:center;
  font-size:3em;
}

#searchBar{
  text-align:center;
}

input{
  width:500px;
  height:70px;
  font-size:2.5em;
  border-radius:10px;
}
